<p>get_cool_url</p>
<%= params[:get_input] %>

<%= params[:aunty_likes][:compliments] %><br />
<%= params[:favourite_animal] %><br />
<%= params[:food_i_like][:f] %><br />
<%= params[:food_i_like][:m] %><br />
<%= params[:food_i_like][:v] %><br />
<%= params[:drop_down] %>

<!-- http://127.0.0.1:9393/cool_url?aunty_likes%5Bcompliments%5D=%0D%0AOur+newly+created+text+area+%3A%29%0D%0A%0D%0A&favourite_animal=Dog&food_i_like%5Bf%5D=Fruit&food_i_like%5Bv%5D=Vegetables&drop_down=first_option -->